<!DOCTYPE html>
<html>
  <head>
     <title>Project Academic</title> <style>
       h1 {
         font-size: 40px;
         font-family: Roboto;
         font-weight: normal;
         color: rgb(150,150,150);
         text-align: center;
       }
       #banner {
         width: 100%;
         height: 360px;
         object-fit: cover;
       }

       h2{
         font-family: Roboto;font-size:32px;
         color: rgb(70, 70, 70);
         text-align: center;
         font-weight:normal;
       }
     </style>
  </head>
  <body>
 <h1>Project Academic</h1>
    <img id="banner" src="https://python-learning-website--projectacademic.repl.co/static/banner.jpeg" height="320">
    <h2>About Project Academic</h2>
    <p>Providing a service to school students by supplying them with research essays shining the light on the relevant information by simplifying and displaying complicated and specific information in a more brief and straightforward approach.</p>
    <h2>Our Goals</h2>
    <p>Approaching local publishing companies, writers, researchers, and inviting them to publish their valuable information gathered on our website in exchange for exposure to their brand/name which might elevate into a percentage cut in case we decide to offer a subscription to users/students. Possibly expanding in a more global way in the next few years by notifying potential contributors from different ethnicities.</p>
    <button>SIGN UP!</button>
  </body>
</html>